body{
width: 80%;
margin: 0 auto;
}

#background{
    background-color: gray;
    text-align: center;
    margin-top: -5px;
}

img{
    width: 100%;
    }

#background img{
    border: 10px solid  black;
    border-radius: 50%;
    display: inline-block;
    width: 20%;
    margin: 40px;
    
    
    
    
    
}