@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Play:wght@400;700&display=swap');

/* Homepage CSS */
#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #E8E9EB;
    color:#ad8f1f;
    font-family: Play, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #313638;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
    grid-row: 1/2;
}

.logo{
    width: 150px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #E8E9EB;
    padding: 35px;
    text-decoration: none;

}

nav a:hover{
    background-color: #E0DFD5;
    color: #313638;
}

#hometitle-grid{
    display:grid;
    grid-template-columns: 1fr 50px 1fr 10px;
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

#title-box{
    grid-column: 1/2;
    text-align: center;
    padding-left: 25px;
}

.home-title{
    font-family: 'Jacquarda Bastarda 9', 'Brush Script MT', serif;
    font-size: 6em;
    margin-top: 50px;
}

.home-menu{
    grid-column: 3/4;
    width: 85%;
    height: 450px;
    overflow-y: auto;
    background-color: #ad8f1f;
    color: #313638;
    display: block;
    padding: 50px;
    margin: 50px;
    text-decoration: none;
    text-align: center;
}

.home-menu:hover {
    background-color: #313638;
    color: #ad8f1f;
    transform: scale(1.1);
}

p a{
    color: #313638;
    text-decoration: none;
}

p a:hover{
    font-weight: bold;
}

#gymleaderspic{
    float: right;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px; 
}

#home-gym-text{
  text-align: center;
  padding-left: 25px;
  margin-top:200px;
  margin-bottom: 300px;
}

#elitefourpic{
    float: left;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
 }

#home-elitefour-text{
    text-align: center;
    padding-right: 25px;
    margin-top: 300px;
    margin-bottom: 200px;
}

#homechampionpic{
    float: right;
    width: 500px;
    padding-right: 50px;   
}

#homechampion-text{
   text-align: center;
   margin-top: 300px;
   padding-left: 25px;
}

 
/*Gym Leaders Page */

#page-title{
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.words{
    padding: 50px;
    text-align: center;
    font-size: 1.2em;
}

#gym-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.left{

    margin-right: 0;
    border: 5px solid #313638;
    background-color: #E0DFD5;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

}

.right{

    margin-left: 0;
    border: 5px solid #313638;
    background-color: #E0DFD5;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container.c1{
    grid-column: 1/2;
    justify-self: right;
}

.container.c2{
    grid-column: 3/4;
    justify-self: left;
}

.container {
    position: relative;   
}
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%; /* Position the top of the element at the middle of the container */
    left: 50%; /* Position the left side of the element at the center of the container */
    transform: translate(-50%, -50%); /* Translate the element by -50% of its own width and height to center it */
    -ms-transform: translate(-50%, -50%); /* For Microsoft browsers */
    text-align: center;
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

.container:hover .left,.container:hover .right{
    opacity: 0.1;
    background-color: #313638;
}

.container:hover .middle, .champ:hover .middle {
    opacity: 1;
}
  
.text {
    color: #313638;
    padding: 16px;
  }


/* Pokemon League */

.container:hover .pokeleaguepic, .champ:hover .pokeleaguepic{
    opacity: 0.1;
    background-color: #313638;
}


.pokeleaguepic{
    border: 5px solid #313638;
    background-color: #E0DFD5;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.champ{
    margin-top: 150px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
 } 

 .champcontainer{
    position: relative; 
 }
  
 .champ .pokeleaguepic .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%; /* Position the top of the element at the middle of the container */
    left: 50%; /* Position the left side of the element at the center of the container */
    transform: translate(-50%, -50%); /* Translate the element by -50% of its own width and height to center it */
    -ms-transform: translate(-50%, -50%); /* For Microsoft browsers */
    text-align: center;
    width: auto;
    height: 50%;
    overflow-y: auto;
 }


footer{
    background-color: #313638;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #E8E9EB;
    text-decoration: none;
}

footer a:hover{
    background-color: #E0DFD5;
    color: #313638;
}

footer p{
    color: #E8E9EB;
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}



